html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#app .container > a {
    font-size: 28px;
}

.btn-link {
    color: #4f4f4f;
}

#my_cart > i.fa {
    font-size: 24px;
}

#my_cart .jewel.jewel-danger {
    font-size: 10px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.sub-title {
    font-size: 34px;
}

.product-container, .product-container-vertical {
    display: flex;
    /*justify-content: space-between;*/
    border-radius: 5px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.products-container {
    height: 80px;
    background: rgb(234, 235, 239);
}

.product-container {
    height: 80px;
    background: rgb(230, 220, 195);
}

.product-container-vertical {
    flex-direction: column;
}

.product-container:hover {
    background: rgb(230, 220, 195);
}


div.wrapper {
    margin-top: 30px;
    min-height: 550px;
}

div.img-wrapper {
    display: none;
    margin-right: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
}

div.img-wrapper > img {
    text-align: center;
}

.product-title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.additional-info {
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
}

img.edit-product-img {
    width: 40px;
}

.select_logo {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    background-color: #b5bcc2;
    cursor: pointer;
}

.pull-right {
    display: inline-block;
    float: right;
}

.main-title {
    font-size: 24px;
    font-weight: 500;
}

.products-container {
    height: 600px;
    overflow: auto;

}

#bottom-position {
    margin-top: 15px;
}

.actions-wrapper {
    display: none;
    position: absolute;
    width: 140px;
    right: 20px;
    bottom: 14px;
    top: 34px;
}

.delete-product, .edit-product {
    border: 2px solid black;
    height: 35px;
    padding-left: 5px;
    background: #eee;
}

img.edit-product-img {
    margin-left: 10px;
}

.edit-product {
    border-bottom: none;
}

.delete-product:hover, .edit-product:hover {
    cursor: pointer;
    background: #e8e0c2;
}

.entry-content {
    margin-right: 15%;
    margin-left: 15%;
}

.category-miniature, .product-miniature {
    float: left;
    width: 33.333%;
    margin-bottom: 25px;
}

.product-miniature {
    width: 24%;
    height: 370px;
    margin: 5px 5px 10px;
    padding-right: 0;
    padding-left: 0;
    background: rgb(255, 255, 255);
    border: 1px solid #d4d4d4;
    border-radius: 7px;
}

.product-miniature:hover {
    box-shadow: 0px 0px 16px 0px #a9a9a9;
}

.category-image, .product-image {
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 5px;
}

.img_1, .p-image {
    vertical-align: middle;
    width: 100%;
}

.p-image {
    padding-left: 5px;
    padding-right: 5px;
    height: 227px;
    cursor: pointer;
}

.img_1 {
    height: 200px;
}

footer#colophon {
    margin-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0;
    background: #8c8c8c;
    height: 120px;
}

.error-field {
    display: none;
    color: #e3342f;
}

.form-group > img#prev-img {
    display: none;
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.form-group img#cat-prev-img {
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

div.img-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

label[for=product-img], #product-img {
    display: inline;
    width: inherit;
}

.img-file-wrapper {
    display: flex;
    flex-direction: column;
}

div.product-created {
    display: none;
    color: #51d051;
    font-size: 18px;
    font-weight: 600;
}

img.thumbnail-img {
    margin-left: 10px;
    height: 70px;
    width: 70px;
}

.product-container > div:last-child {
    margin-left: auto;
}

.product-info-wrapper {
    margin-top: 8px;
}

.category-miniature {
    cursor: pointer;
}

.product-info {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.product-price {
    font-size: 14px;
    font-weight: 600;
    color: #b53904;
}

.product-badge-footer {
    text-align: center;
    margin-top: 20px;
}

#buy_product{
    text-align: center;
    margin-top: 20px;
}

.single-product-container {
    display: flex;
}

.single-product-container > .product-info {
    text-align: left;
}

.product-description {
    margin-left: 15px;
}

.single-product-container .product-title {
    font-size: 28px;
}

.product-image > a.image-link {
    position: relative;
}

.product-image > a.image-link > img:hover {
    box-shadow: 0px 0px 16px 0px #a9a9a9;
}

.product-image > a.image-link > .single-product-img {
    width: 256px;
    height: 256px;
}

.product-image > a.image-link i.fa-search {
    display: none;
    position: absolute;
    font-size: 22px;
    color: #e3342f;
    right: 6px;
    top: 112px;
}

.product-image > a.image-link > img:hover ~ i.fa-search {
    display: inline-block;
}

.breadcrumb {
    font-size: 17px;
}

.products-wrapper {
    overflow: auto;
}

#product_quantity {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.product-image-miniature {
    width: 70px;
    height: 70px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-container .product-name {
    font-size: 17px;
    font-weight: 600;
    padding-left: 0;
    right: 50px;;
}

.cart-container.row {
    border: 3px solid #f4f4f4;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

div.spinner-border {
    display: none;
}

input.product-quantity {
    width: 50px;
    text-align: center;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
    margin-left: 4px;
}

div.remove-from-cart {
    width: fit-content;
    color: #3f9ae5;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

div.cart-total-price {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: #b53904;
}

div.product-price > span.pPrice {
    margin-left: 3px;
    margin-right: 1px;
}

div.confirm-to-order {
    text-align: right;
}

div.confirmed-order {
    display: flex;
    flex-direction: column;
}